<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home | Tiencong283Blog</title>
    <div th:include="_header :: common-css" th:remove="tag"></div>
</head>
<body>

<div class="site-container grid-container">
    <div th:replace="_header :: site-header"></div>
    <div th:replace="_header :: site-search-bar"></div>

    <!-- site content goes here -->
    <div class="site-content-wrapper">
        <div class="inner">
            <h1 class="site-content-heading">All posts</h1>
            <div class="site-content post-listing">

                <div class="post" th:each="post: ${posts}">
                    <div class="flex-container align-justify post-metadata">
                        <a class="post-category" th:href="@{${post.category.publicPath}}" th:text="${post.category.name}">post category</a>
                        <em th:text="${post.formattedPublishDate}">January 24, 2020</em>
                    </div>
                    <h2 class="post-title"><a th:text="${post.title}" th:href="@{${post.publicPath}}">post title</a></h2>
                    <div class="post-summary post-content">
                        <div th:utext="${post.summary}">post content</div>
                    </div>
                    <a th:href="@{${post.publicPath}}" class="hollow button tiny read-more">read more</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="_footer :: site-footer"></div>
</div>

<div th:include="_footer::common-js" th:remove="tag"></div>
</body>
</html>