<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Signin | Tiencong283Blog</title>
    <div th:include="_header :: common-css" th:remove="tag"></div>
</head>
<body>

<div class="site-container grid-container">
    <div th:replace="_header :: site-header"></div>
    <div th:replace="_header :: site-search-bar"></div>

    <!-- site content goes here -->
    <div class="site-content-wrapper">
        <div class="inner">
            <h2 class="site-content-heading">Signin</h2>
            <div class="site-content">
                <form autocomplete="off" class="auth-form" id="login-form" method="POST" th:action="@{/login.html}">
                    <!--    username    -->
                    <div class="auth-form-row">
                        <label for="username">Username:</label>
                        <div class="input-group">
                            <span class="input-group-label"><i class="fi-torso-business"></i></span>
                            <input class="input-group-field" id="username" name="username" placeholder="username" required
                                   type="text">
                        </div>
                        <div class="help-text has-error-color" th:if="${param.error}">Invalid username and password</div>
                    </div>
                    <!--    password    -->
                    <div class="auth-form-row">
                        <label for="password">Password:</label>
                        <div class="input-group">
                            <span class="input-group-label"><i class="fi-lock"></i></span>
                            <input class="input-group-field" id="password" name="password" placeholder="password"
                                   required type="password">
                        </div>
                    </div>
                    <!-- sign in button -->
                    <div class="auth-button-wrapper">
                        <button class="button border-radius-none" type="submit">Sign in</button>
                        <span>or <a th:href="@{/register.html}">Sign up</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="_footer :: site-footer"></div>
</div>

<div th:include="_footer::common-js" th:remove="tag"></div>
</body>
</html>