<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration | Tiencong283Blog</title>
    <div th:include="_header :: common-css" th:remove="tag"></div>
</head>
<body>

<div class="site-container grid-container">
    <div th:replace="_header :: site-header"></div>
    <div th:replace="_header :: site-search-bar"></div>

    <!-- site content goes here -->
    <div class="site-content-wrapper">
        <div class="inner">
            <h2 class="site-content-heading">Registration</h2>
            <div class="site-content">
                <form class="auth-form" method="POST" th:action="@{/register.html}" th:object="${userForm}">
                    <!--      username and email row -->
                    <div class="grid-x grid-margin-x auth-form-row">
                        <div class="cell medium-6">
                            <div class="input-group">
                                <span class="input-group-label"><i class="fi-torso-business"></i></span>
                                <input aria-describedby="usernameHT" class="input-group-field" placeholder="username"
                                       required th:errorclass="has-error" th:field="*{username}"
                                       type="text">
                            </div>
                            <!--        show error message           -->
                            <p class="help-text" id="usernameHT" th:if="${#fields.hasErrors('username')}"
                               th:text="${#strings.listJoin(#fields.errors('username'),', ')}">only accept alphanumeric and
                                underscore chars and must be less than 15</p>
                            <!--        default help text            -->
                            <p class="help-text" id="usernameHT"
                               th:unless="${#fields.hasErrors('username') or checking != null}">only accept
                                alphanumeric and
                                underscore chars and must be less than 15</p>
                        </div>

                        <div class="cell medium-6">
                            <div class="input-group">
                                <span class="input-group-label"><i class="fi-mail"></i></span>
                                <input aria-describedby="emailHT" class="input-group-field" placeholder="email" required
                                       th:errorclass="has-error" th:field="*{email}" type="text">
                            </div>
                            <p class="help-text" id="emailHT" th:if="${#fields.hasErrors('email')}"
                               th:text="${#strings.listJoin(#fields.errors('email'),', ')}">malformed emails are not allowed</p>

                            <p class="help-text" id="emailHT" th:unless="${#fields.hasErrors('email') or checking != null}">
                                malformed emails are not
                                allowed</p>
                        </div>
                    </div>
                    <!--      password and matching password row -->
                    <div class="grid-x grid-margin-x auth-form-row">
                        <div class="cell medium-6">
                            <div class="input-group">
                                <span class="input-group-label"><i class="fi-lock"></i></span>
                                <input aria-describedby="passwordHT" class="input-group-field" placeholder="password"
                                       required th:errorclass="has-error" th:field="*{password}"
                                       type="password">
                            </div>
                            <p class="help-text" id="passwordHT" th:if="${#fields.hasErrors('password')}"
                               th:text="${#strings.listJoin(#fields.errors('password'),', ')}">must be at least 10 and a mix of
                                lower, upper and numeric characters</p>

                            <p class="help-text" id="passwordHT"
                               th:unless="${#fields.hasErrors('password') or checking != null}">must be at least
                                10 and a mix of
                                lower, upper and numeric characters</p>
                        </div>

                        <div class="cell medium-6">
                            <div class="input-group">
                                <span class="input-group-label"><i class="fi-lock"></i></span>
                                <input aria-describedby="matchingPasswordHT" class="input-group-field"
                                       placeholder="matching password"
                                       required th:errorclass="has-error" th:field="*{matchingPassword}"
                                       type="password">
                            </div>
                            <p class="help-text" id="matchingPasswordHT" th:if="${#fields.hasErrors('matchingPassword')}"
                               th:text="${#strings.listJoin(#fields.errors('matchingPassword'),', ')}"></p>
                        </div>
                    </div>

                    <!--   signup button   -->
                    <div class="auth-button-wrapper">
                        <button class="button border-radius-none">Sign up</button>
                        <span>or <a th:href="@{/login.html}">Sign in</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="_footer :: site-footer"></div>
</div>

<div th:include="_footer::common-js" th:remove="tag"></div>
</body>
</html>