<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard | Tiencong283Blog</title>
    <div th:include="_header :: common-css" th:remove="tag"></div>
</head>
<body>

<div class="site-container grid-container">
    <div th:replace="_header :: site-header"></div>
    <div th:replace="_header :: site-search-bar"></div>

    <!-- site content goes here -->
    <div class="site-content-wrapper">
        <div class="inner">
            <h2 class="site-content-heading">Admin Dashboard</h2>
            <div class="site-content">
                <ul>
                    <li><a th:href="@{/admin/blog/post}">Manage posts</a></li>
                    <li><a th:href="@{/admin/blog/category}">Manage categories</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="_footer :: site-footer"></div>
</div>

<div th:include="_footer::common-js" th:remove="tag"></div>
</body>
</html>