<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <div class="main-container">
        <h2>Categories</h2>
        <table>
            <thead>
            <th></th>
            <th>Name</th>
            <th>UrlSlug</th>
            </thead>
            <tbody>
            <tr th:each="category: ${categories}">
                <td th:text="${category.name}"></td>
                <td th:text="${category.urlSlug}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>