<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Retristration</title>
</head>

<body>
    <form method="POST" th:object="${userForm}" th:action="@{/register.html}">
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" th:field="*{username}" th:errorclass="error">
            <p th:if="${#fields.hasErrors('username')}" th:text="${#fields.errors('username')}"></p>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" th:field="*{password}" th:errorclass="error">
            <p th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')}"></p>
        </div>
        <div>
            <label for="matchingPassword">Confirm password: </label>
            <input type="password" id="matchingPassword" th:field="*{matchingPassword}" th:errorclass="error">
            <p th:if="${#fields.hasErrors('matchingPassword')}" th:text="${#fields.errors('matchingPassword')}"></p>
        </div>
        <div>
            <label for="email">email: </label>
            <input type="text" id="email" th:field="*{email}" th:errorclass="error">
            <p th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')}"></p>
        </div>
        <div>
            <button type="submit">register</button>
        </div>
    </form>
</body>
</html>